<div class="flex flex-col h-full">
    <div class="flex-grow py-2">
        <p-panelMenu [model]="options" class="w-full text-white">
            <ng-template #item let-item>
                <a
                    [routerLink]="item.routerLink"
                    routerLinkActive="active-link"
                    class="flex items-center px-3 py-3 cursor-pointer custom-hover"
                    [ngClass]="{'justify-center': !layoutService.isMenuExpanded(), 'justify-start': layoutService.isMenuExpanded()}"
                >
                    <span
                        [class]="item.icon"
                        class="text-xl"
                        [pTooltip]="!layoutService.isMenuExpanded() ? item.label : ''"
                        tooltipPosition="right"
                    >
                    </span>

                    @if (layoutService.isMenuExpanded() ||
                    layoutService.layoutState().menuHoverActive) {
                    <span class="text-white ml-3 font-medium">
                        {{ item.label }}
                    </span>
                    }
                </a>
            </ng-template>
        </p-panelMenu>
    </div>

    <div class="mt-auto border-t border-white/10 py-2">
        <p-panelMenu [model]="configurationItems" class="w-full text-white">
            <ng-template #item let-item>
                <a
                    [routerLink]="item.routerLink"
                    class="flex items-center px-3 py-3 cursor-pointer custom-hover"
                    [ngClass]="{'justify-center': !layoutService.isMenuExpanded(), 'justify-start': layoutService.isMenuExpanded()}"
                >
                    <span
                        [class]="item.icon"
                        class="text-xl"
                        [pTooltip]="!layoutService.isMenuExpanded() ? item.label : ''"
                        tooltipPosition="right"
                    >
                    </span>

                    @if (layoutService.isMenuExpanded() ||
                    layoutService.layoutState().menuHoverActive) {
                    <span class="text-white ml-3 font-medium"
                        >{{ item.label }}</span
                    >
                    }
                </a>
            </ng-template>
        </p-panelMenu>
    </div>
</div>
