@media (max-width: 768px) {
  .logo {
    width: 100% !important;
  }
  .header-center {
    display: none;
  }
  .boton-mayor {
    display: none;
  }
  .nombre-responsivo {
    display: none !important;
  }
}
