<div style="width: 100%; height: 80px; background-color: white; display: flex;   box-shadow: 0px 9px 30px 0px rgba(black, 0.22);"
>

  <div class="logo" style="width: 20%; height: fit-content;padding: 20px 0px;display:flex;justify-content: center;align-items: center;">
   <div>
    <p-button icon="pi pi-bars" (click)="visibleSidebar = true"> </p-button>
<p-sidebar [(visible)]="visibleSidebar" position="left" [baseZIndex]="10000">

  <div style="display: flex;margin-bottom: 10px;">
  <p-avatar label="J" styleClass="mr-1" [style]="{ 'background-color': '#07341f', color: 'white', 'padding':'20px' }" shape="circle" />
    <div style="margin-left: 5px;">
    <label for=""> Jimmy Obregón Sánchez</label>
    <label for=""> Administrador</label>
    </div>
    </div>

  <h3 style="margin-bottom: 10px;">Menú de Navegación</h3>
  <ul>
    <li><a routerLink="/home">
      <i class="pi pi-check"> Gestión de Empresas</i>
    </a></li>
    <li><a routerLink="/about"><i class="pi pi-check"> Gestión de Transmisiones</i></a></li>
    <li><a routerLink="/contact"><i class="pi pi-check"> Gestión de Salones Velatorios</i></a></li>
  </ul>
</p-sidebar>
   </div>
    <div class="boton-mayor" style="margin-left: 40px;margin-right: 20px;">
      <p-button icon="pi pi-bars" (click)="toggleLabels()"  [rounded]="true" severity="secondary" /> 
    </div>
    <img src="../../../../assets/logos_eterna_horizontal/logo_verde.svg" alt="" width="120px" style="margin-left: 10px;">
     <h2 style="color:#07341f;margin-left: 8px;margin-top: 13px;font-weight: bold; " >BackOffice</h2> 
  </div>


    <div class="header-center" style="width: 48%; height: fit-content; display:flex;justify-content: center;padding: 10px;">
      <!-- <div class="card">
        <p-menubar [model]="items" />
      </div> -->
    </div>
  <div class="nombre-responsivo" style="width: 32%; height: fit-content; display:flex;justify-content: center;padding: 10px; align-items: center;margin-left: 150px;">
    <div style="display: flex;align-items: center; justify-content: center;margin: 10px;padding: 10px ;">
      <div style="margin-right: 20px;">
 <p-overlaybadge value="2">
                <i class="pi pi-bell" style="font-size: 1.5rem"></i>
            </p-overlaybadge>
            </div>
            <div style="margin-right: 20px;">
             <p-overlaybadge severity="success">
                <i class="pi pi-envelope" style="font-size: 1.5rem"></i>
            </p-overlaybadge>
            </div>
    </div>
    
    <p-avatar label="J" styleClass="mr-1" size="large" [style]="{ 'background-color': '#07341f', color: 'white', 'padding':'20px' }" shape="circle" />
    <div style="margin-left: 5px;">
    <label for=""> Jimmy Obregón Sánchez</label>
    <label for=""> Administrador</label>
    </div>
  </div>
</div>