<app-auth-layout
  title="Bienvenido a Eterna BackOffice"
  subtitle="Restablecimiento de contraseña"
>
  <p-password
    id="email"
    placeholder="Nueva contraseña"
    class="w-full mb-4"
    [fluid]="true"
    [(ngModel)]="password"
    [minlength]="6"
    weakLabel="Débil"
    mediumLabel="Media"
    strongLabel="Fuerte"
    promptLabel="Ingrese una contraseña"
  ></p-password>
  @if (submitted && !isPasswordStrong) {
  <small class="text-red-500 block -mt-3 mb-4">
    La contraseña debe tener al menos 6 caracteres, una mayúscula, una
    minúscula, un número y un carácter especial.
  </small>
  }

  <p-password
    id="email22"
    placeholder="Repita la nueva contraseña"
    class="w-full mb-6"
    [fluid]="true"
    [(ngModel)]="confirmPassword"
    [minlength]="6"
    [feedback]="false"
    weakLabel="Débil"
    mediumLabel="Media"
    strongLabel="Fuerte"
    promptLabel="Ingrese una contraseña"
  ></p-password>
  @if (submitted && !passwordsMatch) {
  <small class="text-red-500 block -mt-5 mb-4">
    Las contraseñas no coinciden.
  </small>
  }

  <button
    pButton
    label="Cambiar Contraseña"
    class="w-full"
    style="color: white"
    [loading]="loading"
    [disabled]="submitted && !isFormValid"
    (click)="resetPassword()"
  ></button>
  <div class="flex justify-center items-center mt-4 mb-8 gap-2">
    <span class="font-medium no-underline ml-2 text-right text-primary"
      >¿Conoce su contraseña?</span
    >
    <a routerLink="/auth/login" style="color: green; font-weight: bold">
      Ingresar
    </a>
  </div>
</app-auth-layout>
