<div style="width: 100%; height: 100vh; display: flex">
  <div  class="container1" style="width: 40%; height: 100vh; background-color: rgb(255, 255, 255);display: flex;align-items: center;">

        <div style="width: 100%;display: flex;flex-direction: column; align-items: center;justify-content: center;">
          <div style="width:400px;height: 500px;box-shadow: 0px 4px 10px rgba(44, 44, 44, 0.2) !important;border-top: 7px solid#168548;border-left: 1px solid transparent; border-right: 1px solid transparent; border-radius: 32px;display: flex;flex-direction: column; align-items: center;justify-content: center; ">
             <div style="margin-bottom: 30px;">
                  <img src="../assets/logos_eterna_horizontal/Group (1).png" alt="">
             </div>
  
            <div style="margin-bottom: 10px;">
            <h3 style="color:#07341f; font-weight: bold;"> Bienvenido a Eterna BackOffice</h3>
           </div>
           <div style="margin-bottom: 20px;">
            <h5> Inicia sesión para continuar</h5>
           </div>

           
            <div style="margin-bottom: 10px;">
              <div style="margin-bottom: 7px;">
                <label style="font-size: 14px; font-weight: bold;" for="username">Email</label>
                </div>
                <div>
                <p-floatlabel variant="on">
    <p-iconfield>
        <p-inputicon class="pi pi-user" />
        <input pInputText id="on_label" [(ngModel)]="value3" autocomplete="off" />
    </p-iconfield>
    <label style="font-size: small;"  for="on_label">Email</label>
</p-floatlabel>
</div>
            </div>
          <div style="margin-bottom: 10px;">
              <div style="margin-bottom:7px;">
                <label style="font-size: 14px; font-weight: bold;" for="username">Contraseña</label>
                </div>
                <div>
                <p-floatlabel variant="on">
    <p-iconfield>
        <p-inputicon class="pi pi-eye" />
        <input pInputText id="on_label" [(ngModel)]="value2" autocomplete="off" />
    </p-iconfield>
    <label style="font-size: small;"  for="on_label">Contraseña</label>
</p-floatlabel>
</div>
            </div>
<div style="width: 100%;
    padding: 0px 50px;">
            <form class="flex  gap-1" [formGroup]="formGroup">
              <div>
    <p-checkbox formControlName="city" value="New York" inputId="ny" />
    <label style="margin-left: 10px;" for="ny" class="ml-2">Recordar contraseña</label>
    </div>
  
            </form>
            </div>
            <div  style="margin: 20px;" class="card flex">
                <p-button label="Ingresar" class="w-full " styleClass="w-full mx-auto" />
            </div>

              <div>
      <label style="color:#07341f" for=""> ¿Olvidaste tu contraseña?</label>
    </div>
            </div>
        </div>
  </div>
  <div
  class="container2"
    style="
      width: 60%;
      height: 100vh;
      background-image: url(https://wallpapercave.com/wp/wp3201178.jpg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    "
  >
 
  <div style="width: 100%; height: 110px;display: flex;justify-content: end;padding: 20px;" >
      
    <div style=" width: 200px;height: 80px;background-color: white;border-radius: 10px; display: flex;justify-content: center;align-items: center;">
     <img src="../assets/logos_eterna_horizontal/logo_verde.svg" alt="" width="150px" >
     </div>
  </div>
  <div style="width: 100%; height: calc(100vh - 110px);display: flex;justify-content: end;align-items: end;padding: 20px;">
  <h1 style="color: white;font-weight: bold;font-size: xx-large;">"Recuerdos preciados que jamás olvidaremos "</h1>
  </div>
</div>
</div>