<div class="header-responsive" style="width: 100%; height: 100vh">
  <app-header (toggleLabelsEvent)="onToggleLabels()"></app-header>

  <div style="display: flex; width: 100%; height: calc(100vh - 80px)">
    <div
      class="sidebar-responsive"
      [style.width]="sidebarWidth"
      style="height: calc(100vh - 80px)"
    >
      <app-dashboard [showLabels]="showLabels"></app-dashboard>
    </div>

    <div
      class="container-center-responsive"
      [style.width]="containerWidth"
      style="
        height: calc(100vh - 80px);
        background: linear-gradient(to bottom, #eefbf2, #f6f7f7);
      "
    >
      <div style="margin-top: 10px; margin-left: 10px; margin-bottom: -10px">
        <p-breadcrumb
          class="max-w-full"
          [model]="items3"
          [home]="home"
        ></p-breadcrumb>
      </div>
      <div style="height: 680px; overflow-y: auto">
        <app-table></app-table>
      </div>
    </div>
  </div>
</div>

<!-- <app-login></app-login> -->
