.layout-topbar-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.layout-config-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
}

p-overlaybadge {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}