<div class="layout-topbar">
  <div class="layout-topbar-logo-container">
    <button
      class="layout-menu-button layout-topbar-action"
      (click)="layoutService.onMenuToggle()"
    >
      <i class="pi pi-bars"></i>
    </button>
    <a class="layout-topbar-logo" routerLink="/">
      <img
        [src]="
          layoutService.isDarkTheme()
            ? '../../../assets/eterna-assets/logo_amarillo.svg'
            : '../../../assets/eterna-assets/logo_verde.svg'
        "
        alt=""
        width="100px"
      />
    </a>
  </div>

  <div class="layout-topbar-actions">
    <div class="layout-config-menu">
      <button
        type="button"
        class="layout-topbar-action"
        (click)="toggleDarkMode()"
      >
        <i
          [ngClass]="{
            pi: true,
            'pi-moon': layoutService.isDarkTheme(),
            'pi-sun': !layoutService.isDarkTheme(),
          }"
        ></i>
      </button>

      <p-overlaybadge value="2" styleClass="layout-topbar-action">
        <i class="pi pi-bell" style="font-size: 1.5rem"></i>
      </p-overlaybadge>

      <p-overlaybadge styleClass="layout-topbar-action">
        <i class="pi pi-envelope" style="font-size: 1.5rem"></i>
      </p-overlaybadge>
    </div>

    <div
      style="
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        cursor: pointer;
      "
      class="user-menu"
      (click)="!loggingOut && menu.toggle($event)"
      class="user-menu-trigger"
    >
      @if (loggingOut) {
        <i class="pi pi-spin pi-spinner text-xl"></i>
        <div class="user-info" style="margin-left: 10px">
          <div class="user-name" style="font-weight: bold">
            Cerrando sesión...
          </div>
        </div>
      } @else {
        <p-avatar
          [style]="{ 'background-color': '#073620', color: 'white' }"
          [label]="userInitial"
          shape="circle"
          size="large"
        >
        </p-avatar>

        <div class="user-info" style="margin-left: 10px">
          <div class="user-name" style="font-weight: bold">{{ userName }}</div>
          <div class="user-role" style="font-weight: smaller">
            Administrador
          </div>
        </div>
      }

      <p-tieredMenu #menu [model]="items" [popup]="true"></p-tieredMenu>
    </div>
  </div>
</div>
