<div class="flex flex-col h-full">
  <div class="flex-grow py-2">
    <p-panelMenu [model]="options" class="w-full border-none">
      <ng-template #item let-item>
        <a
          [routerLink]="item.state?.route"
          routerLinkActive="active-link"
          class="flex items-start px-3 py-3 cursor-pointer custom-hover no-underline"
          [ngClass]="{
            'no-padding-x': !layoutService.layoutState().menuHoverActive,
          }"
        >
          <div class="menu-icon-container">
            <span [class]="item.icon" class="text-xl text-white mt-1"> </span>
          </div>
          <div
            class="menu-content-wrapper"
            [class.menu-content-collapsed]="
              !layoutService.isMenuExpanded() &&
              !layoutService.layoutState().menuHoverActive
            "
          >
            <span class="text-white ml-3 font-medium flex-1 multiline-label">
              {{ item.label }}
            </span>

            @if (item.items) {
              <i
                class="pi pi-chevron-down text-xs text-white ml-2 mt-1 arrow-icon"
                [class.arrow-expanded]="item.expanded"
              >
              </i>
            }
          </div>
        </a>
      </ng-template>
    </p-panelMenu>
  </div>

  <div class="mt-auto border-t border-white/10 py-2">
    <p-panelMenu [model]="configurationItems" class="w-full border-none">
      <ng-template #item let-item>
        <a
          [routerLink]="item.state?.route"
          routerLinkActive="active-link"
          class="flex items-start px-3 py-3 cursor-pointer custom-hover no-underline"
          [ngClass]="{
            'no-padding-x': !layoutService.layoutState().menuHoverActive,
          }"
        >
          <div class="menu-icon-container">
            <span [class]="item.icon" class="text-xl text-white mt-1"> </span>
          </div>
          <div
            class="menu-content-wrapper"
            [class.menu-content-collapsed]="
              !layoutService.isMenuExpanded() &&
              !layoutService.layoutState().menuHoverActive
            "
          >
            <span class="text-white ml-3 font-medium flex-1 multiline-label">
              {{ item.label }}
            </span>

            @if (item.items) {
              <i
                class="pi pi-chevron-down text-xs text-white ml-2 mt-1 arrow-icon"
                [class.arrow-expanded]="item.expanded"
              >
              </i>
            }
          </div>
        </a>
      </ng-template>
    </p-panelMenu>
  </div>
</div>
