<div class="card">
  <div class="flex items-center justify-between">
    <h5 class="m-0">Gestión de Salones Velatorios</h5>
    <p-iconfield>
      <p-inputicon class="pi pi-search" />
      <input
        pInputText
        type="text"
        (input)="onGlobalFilter(dt, $event)"
        placeholder="Buscar..."
      />
    </p-iconfield>
  </div>
  <p-table
    [value]="funeralHalls()"
    dataKey="id"
    [tableStyle]="{ 'min-width': '60rem' }"
    [expandedRowKeys]="expandedRows"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="funeralHalls.length"
  >
    <ng-template #caption>
      <div class="flex table-header">
        <button
          pButton
          class="button-primary"
          icon="pi pi-fw {{ isExpanded ? 'pi-minus' : 'pi-plus' }}"
          label="{{ isExpanded ? 'Colapsar Todos' : 'Expandir Todos' }}"
          (click)="expandAll()"
        ></button>
        <div style="margin-left: auto">
          <p-button label="Nuevo" icon="pi pi-plus" class="mr-2" />
          <p-button label="Exportar" icon="pi pi-upload" severity="secondary" />
        </div>
      </div>
    </ng-template>

    <ng-template #header>
      <tr>
        <th style="width: 5rem"></th>
        <th pSortableColumn="nombreComercial">
          Nombre Comercial <p-sortIcon field="nombreComercial" />
        </th>
        <th pSortableColumn="salonVelatorio">
          Salón Velatorio <p-sortIcon field="salonVelatorio" />
        </th>
        <th pSortableColumn="zona">Zona <p-sortIcon field="zona" /></th>
        <th pSortableColumn="ubicacion">
          Ubicación <p-sortIcon field="ubicacion" />
        </th>
        <th pSortableColumn="cantPantallas">
          Cant. Pantallas <p-sortIcon field="cantPantallas" />
        </th>
        <th style="width: 8rem">Acciones</th>
      </tr>
    </ng-template>

    <ng-template #body let-hall let-expanded="expanded">
      <tr>
        <td>
          <p-button
            type="button"
            pRipple
            [pRowToggler]="hall"
            [text]="true"
            [rounded]="true"
            [plain]="true"
            [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"
          />
        </td>
        <td>{{ hall.nombreComercial }}</td>
        <td>{{ hall.salonVelatorio }}</td>
        <td>{{ hall.zona }}</td>
        <td>{{ hall.ubicacion }}</td>
        <td>
          <span class="font-bold">{{ hall.cantPantallas }}</span>
        </td>
        <td>
          <p-button
            type="button"
            icon="pi pi-desktop"
            [rounded]="true"
            [outlined]="true"
          />
        </td>
      </tr>
    </ng-template>

    <ng-template #expandedrow let-hall>
      <tr>
        <td colspan="7">
          <div class="p-4 bg-gray-50 border-round shadow-1">
            <div style="display: flex">
              <h5 class="mb-3 text-lg font-semibold">
                Cámaras instaladas en {{ hall.salonVelatorio }}
              </h5>
              <div style="margin-left: auto">
                <p-button label="Nuevo" icon="pi pi-plus" class="mr-2" />
                <p-button
                  label="Exportar"
                  icon="pi pi-upload"
                  severity="secondary"
                />
              </div>
            </div>
            <p-table [value]="hall.pantallas" dataKey="codigo">
              <ng-template #header>
                <tr>
                  <th pSortableColumn="codigo">
                    Código <p-sortIcon field="codigo" />
                  </th>
                  <th pSortableColumn="nombre">
                    Nombre <p-sortIcon field="nombre" />
                  </th>
                  <th pSortableColumn="tipoPantalla">
                    Tipo Pantalla <p-sortIcon field="tipoPantalla" />
                  </th>
                  <th pSortableColumn="estado">
                    Estado <p-sortIcon field="estado" />
                  </th>
                  <th style="width: 4rem"></th>
                </tr>
              </ng-template>
              <ng-template #body let-pantalla>
                <tr>
                  <td>{{ pantalla.codigo }}</td>
                  <td>{{ pantalla.nombre }}</td>
                  <td>{{ pantalla.tipoPantalla }}</td>
                  <td>
                    <p-tag
                      [value]="pantalla.estado"
                      [severity]="
                        pantalla.estado === 'Activo' ? 'success' : 'warn'
                      "
                    />
                  </td>
                  <td>
                    <p-button
                      type="button"
                      icon="pi pi-desktop"
                      [rounded]="true"
                      [outlined]="true"
                    />
                  </td>
                </tr>
              </ng-template>
              <ng-template #emptymessage>
                <tr>
                  <td colspan="5">
                    No hay pantallas registradas para este salón.
                  </td>
                </tr>
              </ng-template>
            </p-table>
          </div>
        </td>
      </tr>
    </ng-template>
    <ng-template #paginatorleft let-state>
      <span>
        Mostrando {{ 3 }} al
        {{ 3 }}
        de {{ 3 }} salones velatorios
      </span>
    </ng-template>
  </p-table>
</div>
