/* You can add global styles to this file, and also import other style files */
*,
body {
  box-sizing: border-box !important;
  margin: 0px;
  font-family: "GothamExtraLight";
}
@import "primeicons/primeicons.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: "GothamExtraLight";
  src: url("../src/assets/fonts/Gotham\ Extra\ Light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.p-breadcrumb {
  background-color: transparent !important;
}
.p-iconfield {
  input {
    width: 300px;
    height: 30px;
    border-radius: 5px;
  }

  .p-button {
    button {
      width: 300px !important;
      background: #073620 !important;
    }
  }
}
.p-icon {
  padding-top: 2px;
  width: 12px !important;
}

.p-panelmenu-panel {
  background: none !important;
  border-style: hidden;
  border-color: transparent !important;
}

.p-badge {
  background: #073620 !important;
}
.boton-nuevo {
  .p-button {
    background: #073620 !important;
  }
}
